.btn {
    display: block;
    font-family: "SpaceGroteskBold";
    text-align: center;
    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.1s ease-in;
}

.primary {
    background-color: var(--dark1);
    color: var(--neon);
    border: 1px solid var(--dark1);
}

.primary:hover {
    background-color: var(--neon);
    color: var(--dark1);
}

.secondary {
    background-color: var(--neon);
    color: var(--dark1);
    border: 1px solid var(--dark1);
}

.secondary:hover {
    background-color: var(--dark1);
    color: var(--neon);
}

@media screen and (max-width: 768px) {
    .btn {
        width: 100%;
    }
}