.container {
    margin-top: 3rem;
    margin-bottom: 5rem;
    height: 100vh;
}

.top {
    margin-bottom: 3rem;
}

.title {
    padding-left: 3rem;
    padding-top: 3rem;
    font-size: 9rem;
}

.title, .title span {
    font-family: "OrbitronMedium";
    text-transform: uppercase;
    color: var(--dark1);
    line-height: 95%;
}

.title span {
    margin-left: 2.2ch;
}

.bottom {
    display: flex;
    gap: 2rem;
    padding: 3rem;
}

.left, .right{
 flex: 1;
}

.imgContainer {
    height: 100%;
}

.img {
    border-radius: 5px;
}


@media screen and (max-width: 855px) {
    .title span {
        margin-left: 0ch;
    }
}

@media screen and (max-width: 768px) {
    .top {
        margin-bottom: 1rem;
    }
    
    .bottom {
        flex-direction: column;
    }
}

@media screen and (max-width: 655px) {
    .bottom {
        padding: 2rem;
    }
    
    .title {
        text-align: center;
        font-size: 8rem;
    }
}

@media screen and (max-width: 510px) {
    .bottom {
        padding: 1rem;
    }

    .title {
        font-size: 6rem;
    }
}