.container {
    margin-bottom: 5rem;
}

.content {
    display: flex;
    gap: 2rem;
    padding: 3rem;
    margin-top: 3rem;
}

.left, .right{
 flex: 1;
}

.title {
    padding-left: 3rem;
    padding-top: 3rem;
    font-size: 9rem;
}

.title, .title span {
    font-family: "OrbitronMedium";
    text-transform: uppercase;
    color: var(--dark1);
    line-height: 95%;
}

.title span {
    margin-left: 2.2ch;
}

.imgContainer {
    height: 100%;
}

.img {
    border-radius: 8px;
}