.top {
    margin-bottom: 3rem;
    padding: 3rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
}

.title {
    font-size: 9rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--dark1);
}

.title, .title span {
    font-family: "OrbitronExtraBold";
    text-transform: uppercase;
    color: var(--dark1);
    line-height: 95%;
}

.title span {
    margin-left: 2.2ch;
    color: var(--neon);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--dark1);
}



@media screen and (max-width: 855px) {
    .title span {
        margin-left: 0ch;
    }
}

@media screen and (max-width: 768px) {
    .top {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 655px) {
    .title {
        text-align: center;
        font-size: 8rem;
    }
}

@media screen and (max-width: 510px) {
    .title {
        font-size: 6rem;
    }
}
