.navbar {
    padding: 1rem 0rem;
}

.navmenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
    list-style: none;
    transition: none;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--dark1);
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
    }
    
    .title {
        font-size: 7rem;
        padding-bottom: 2rem;
        text-align: center;
        border-bottom: 1px solid var(--dark1);
}

.title, .title span {
        font-family: "OrbitronExtraBold";
        text-transform: uppercase;
        color: var(--dark1);
        line-height: 95%;
}

.title span {
        /* margin-left: 2.2ch; */
        color: var(--neon);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--dark1);
}

    .navmenu {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        text-align: center;
        font-weight: bold;
        transition: 0.3s;
        border: 5px solid var(--accent2);
        color: var(--accent4);
        background-color: var(--neon);
        z-index: 998;
    }

    .navItem a:hover::before {
        width: 0%;
    }
    
    .navmenu.active {
        left: 0;
    }

    .navmenu a {
        background-color: transparent;
        padding: 1rem 3rem;
        border: 2px solid var(--accent2);
        background-color: var(--accent4);
        color: var(--accent2);
        font-size: 3rem;
        font-family: "OrbitronExtraBold";
        cursor: pointer;
    }

    .navmenu a:hover {
        background-color: var(--accent3);
        color: var(--accent4);
    }

    .navItem {
        margin: 2.5rem 0;
        background-color: transparent;
        transition: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 999;
        padding: .5rem;
        border-radius: .5rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}
